.THIS .select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
    margin-top: -10px;
}
.THIS .myCustomClass input { 
    width: 179px;
    margin-top: -10px;
}
.THIS .myinput input { 
    width: 170px;
    margin-top: -25px;
}
.THIS .dropdown { 
    width: 170px;
    margin-top: -10px;
}
.THIS .slds-scope .slds-lookup {
    width: 50%;
}